/* Reset and General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Headings */
h1, h2, h3 {
  margin-bottom: 1rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Bar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  text-align: center;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar .logo a {
  color: #fff;
}

.navbar .logo a:hover {
  color: #ffcc00;
}

.navbar .nav-links {
  list-style-type: none;
}

.navbar .nav-links li {
  display: inline-block;
  margin-right: 1rem;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
  color: #ffcc00;
}

/* Mobile Menu Styles */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 1rem;
  align-items: center;
}

.contact-details,
.google-maps {
  text-align: center;
}

.google-maps {
  width: 90%;
  margin: 0 auto;
}

.google-maps iframe {
  width: 100%;
  border: none;
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
